#navbar {
  background-color: none !important;
  font-family: $titleFont;
  height: auto !important;
}

#navbarContainer{
  min-width: 100%;
}

.nav-link {
  color: transparentize($black, 0.3) !important;
  font-weight: bold !important;
  &:hover {
    transition: all 0.3s;
    color: transparentize($black, 0) !important;
    font-weight: bold !important;
  }
}

.arbelLogo {
  width: 70% !important;
  margin-left: 5% !important;
  margin-top: 2% !important;
}

.navVoice{
  margin-left: 80% !important;
}

.logoutButton{
  background-image: linear-gradient(to right, $redArbel 0%, #EF2252 100%);
  font-weight: bold !important;
  color: $white !important;
  margin-left: 2% !important;
  border-radius: 25px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  &:hover {
    transition: all 0.3s;
    background-color: #BD0118 !important;
    color: $white !important;
  }
}
