
// Body
$body-bg: #FBFBFB;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$titleFont: 'futura', sans-serif;
// $titleFont: 'futura', sans-serif;
// $provaFont: 'futura medium bt', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Colors
$redArbel: #F2001E;
$deselectedItem: #A4AAB3;
$redSelected: #e2001c;
$darkGrey: #1d1d1d;
$title: #4A4A4A;
$white: #FFFFFF;
$black: #000000;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
