
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Heebo');
@import url('/fonts/futuraMedium.ttf');
@import url('/fonts/futuraBook.ttf');

// Variables
@import 'variables';
@import 'navbar';
@import 'layout/secretary';
@import 'layout/contact';
@import 'layout/courses';
@import 'layout/profile';
@import 'layout/todayCalendar';
// @import '/fonts/futura medium bt.ttf';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  // background-color: $body-bg !important;
  background: linear-gradient(to bottom, $white 0%, $body-bg 100%) !important;
}

.row {
  width: 100% !important;
}

a {
 color: $deselectedItem !important;
  &:hover{
    transition: all 0.3s,
    color $redArbel !important;
  }
}

#login {
  width: 75%;
  border-radius: 40px;
}

.loginButton {
  font-family: $titleFont;
  background-color: $redArbel !important;
  // font-weight: bold !important;
  color: $white !important;
  border-radius: 25px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  margin-top: 5%;
  &:hover {
    transition: all 0.3s;
    background-color: $redSelected !important;
    color: $white !important;
  }
}

.myPhone {
  width: 69% !important;
  margin-top: -5%;
  padding-left: 19% !important;
}

.containerForm {
  width: 100% !important;
  margin-top: 15%;
  margin-left: -40% !important;
}

.loginText, .arbelText{
  margin-left: 33.5%
}

.loginText
{
  font-family: $titleFont;
  font-weight: bold;
  font-size: 26px;
  // font-weight:;
  margin-bottom: -3% !important;
}

.arbelText {
  font-size: 16px;
  margin-bottom: 2%;
}

.passwordHelp{
  font-size: 12px;
  margin-top: 2%;
  margin-left: 4%;
}

.allElelement{
  margin-top: 10%;
}

.lineLogin{
  position: fixed;
  top: 0;
  left: -0.5% !important;
  min-width: 100%;
  min-height: auto !important;
  margin-top: -1.5% !important;
}

#primaFascia, #secondaFascia, #terzaFascia, #quartaFascia, #corsi{
  margin-bottom: 4%;
  font-weight: bold;
  margin-left: 0 !important;
}

.footerLogin{
  bottom: 0 !important;
  float: right !important;
  margin-right: 4%;
  margin-top: 2% !important;
  margin-bottom: 1%;
  color: #626262 !important;
  position: fixed;
  right: 0;
}

.footerHome{
  bottom: 0 !important;
  float: right !important;
  margin-right: 4%;
  margin-top: 12%;
  color: $white !important;
  right: 0;
}

.downloadBadge {
  margin-top: 1% !important;
}

.AppStore, .GoogleStore{
  width: 50% !important;
}

.AppStore{
  float: right !important;
  margin-right: 7% !important;
}

.GoogleStore{
  float: left !important;
  margin-left: -12% !important;
}

.passwordForm, .mailForm {
  border-radius: 5px !important;
}
