
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Heebo');
@import url('/fonts/futuraMedium.ttf');
@import url('/fonts/futuraBook.ttf');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';
@import 'mixin';
@import 'navbar';
@import 'layout/secretary';
@import 'layout/contact';
@import 'layout/courses';
@import 'layout/profile';
@import 'layout/todayCalendar';
@import 'layout/studentsList';
@import 'layout/studentDetail';
@import 'layout/activity';
@import 'layout/calendar';

// @import '/fonts/futura medium bt.ttf';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
  background-color: $body-bg !important;
  // background: linear-gradient(to bottom, $white 0%, $body-bg 100%) !important;
  line-height: none !important;
  margin: none !important;
  padding: none !important;
}

.py-4 {
  margin: 0 auto !important;
  padding: 0 !important;
}

.row {
  width: 100% !important;
}

.container-fluid {
  margin-left: none !important;
  margin-right: none !important;
  padding: none !important;
}

.infoForm{
  font-family: $titleFont;
  color: lightGrey;
  font-size: 14px;
  // margin-top: 7%;
  margin-bottom: 2% !important;
}

a {
 color: $deselectedItem !important;
  &:hover{
    transition: all 0.3s,
    color $redArbel !important;
  }
}

#login {
  width: 75%;
  border-radius: 40px;
}

.loginButton {
  font-family: $titleFont;
  background-color: $redArbel !important;
  // font-weight: futuraMedium !important;
  color: $white !important;
  border-radius: 25px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  margin-top: 5%;
  &:hover {
    transition: all 0.3s;
    background-color: $redSelected !important;
    color: $white !important;
  }
}

.myPhone {
  width: 69% !important;
  margin-top: -2%;
  padding-left: 19% !important;
}

.containerForm {
  width: 100% !important;
  margin-top: 15%;
  margin-left: -40% !important;
}

.loginText, .arbelText{
  margin-left: 33.5%
}

.loginText
{
  font-family: $titleFont;
  font-weight: 500 !important;
  font-size: 26px;
  // font-weight:;
  margin-bottom: -3% !important;
}

.arbelText {
  font-size: 16px;
  margin-bottom: 2%;
}

.passwordHelp{
  font-size: 12px;
  margin-top: 2%;
  margin-left: 4%;
}

.allElelement{
  margin-top: 10%;
}

.lineLogin{
  position: fixed;
  top: 0;
  left: -0.5% !important;
  min-width: 100%;
  min-height: auto !important;
  margin-top: -1.5% !important;
}

.footerLogin{
  bottom: 3% !important;
  float: right !important;
  right: 3%;
  position: absolute;
  // margin-top: 2% !important;
  // margin-bottom: 1%;
  color: #626262 !important;
}

.footerHome{
  bottom: 1% !important;
  float: right !important;
  position: absolute;
  // margin-right: 2%;
  // margin-top: -3%;
  margin: none !important;
  color: $white !important;
  right: 3%;
  padding: none !important;
}

.downloadBadge {
  margin-top: 1% !important;
}

.AppStore, .GoogleStore{
  width: 50% !important;
}

.AppStore{
  float: right !important;
  margin-right: 7% !important;
}

.GoogleStore{
  float: left !important;
  margin-left: -12% !important;
}

.passwordForm, .mailForm {
  border-radius: 5px !important;
}
