
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'navbar';


// Bootstrap
@import '~bootstrap/scss/bootstrap';


#login {
  width: 75%;
  border-radius: 40px;
}

#imageapp {
  width: auto;
  height: auto;
}

#email,#password,{
  border-radius: 20px;
}

#contLogin {
  margin-top: -5%;
  width: 130%;
}

#smartphone {
  width: 30%;
  height: 30%;
  margin-left: 20%;
}

#primaFascia, #secondaFascia, #terzaFascia, #quartaFascia, #corsi{
  margin: 5%;
}
