.switchContainer {
  margin: 0 auto !important;
  margin-top: 3% !important;
}
.row-centered {
    text-align:center !important;
    // margin-left: 32% !important;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right: 3%;
    text-align: center;
}

.activityBox3 {
  transition: all .3s ease-in-out;
  font-family: $titleFont;
  font-size: 16px;
  margin-top: -1% !important;
  margin-left: -3% !important;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  height: 42px;
  width: 142px;
  border-radius: 7px !important;
  bottom: 0 !important;
  box-shadow: 0px 1px 7px lightGrey !important;
  background: linear-gradient(to right, $redArbel 0%, #EF2252 100%) !important;
  color: $white;
  &:hover {
    transition: all 0.2s !important;
    transform: scale(1.02);
    // background-color: $redArbel;
  }
}

.studentBox3, .testBox3 {
  transition: all .3s ease-in-out;
  font-family: $titleFont;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  height: 40px;
  width: 140px;
  border: 0.7px solid #ECEAEA;
  border-radius: 6px !important;
  bottom: 0 !important;
  box-shadow: 0px 1px 5px #ECEAEA !important;
  background-color: $white;
  &:hover {
    transition: all 0.2s !important;
    transform: scale(1.07);
    // background-color: $redArbel;
    color: $redArbel;

  }
}

.chartContainer{
  margin-top: 10%;
}

.argumentCol{
  // margin-left: 1px;
}

.argumentRow{
  margin-bottom: 7%;
  margin-left: 2% !important;
}

.argumentDate {
  font-family: $titleFont;
  font-size: 14px !important;
  // font-weight: bold;
}

.argumentName {
  font-size: 14px !important;
}

.argumentTitle{
  font-family: $titleFont;
  font-size: 18px !important;
  color: $deselectedItem;
  // font-weight: bold;
}

.infoContainer{
  margin-top: 10%;
  color: $deselectedItem;
}

.infoIcon{
  width: 20px;
  height: auto;
  // margin-bottom: 2%;
  margin-top: -0.2%;
}

.infoText{
  margin-left: 1%;
}

.infoText2{
  margin-left: 2.6%;
}
