.calendarRow {
  margin-top: 5%;
}

.customCalendar {
  width: 100%;
  height: auto;
}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
  display: none !important
}

.fc .fc-button-group>* {
  display: none !important
}

.fc-widget-header {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  font-family: $titleFont;
  font-weight: lighter;
  color: $deselectedItem;
}

// .fc-view-container *, .fc-view-container :after, .fc-view-container :before{
//   width: 70px !important;
//   height: auto !important;
// }

.fc-toolbar{
  margin-bottom: 2% !important;
}

.fc-basic-view td.fc-day-number {
  padding-top: 20px !important;
  padding-right: 20px !important;
}

.fc-unthemed .fc-today{
  background-color: #d4e2f4 !important;
}
