.calendar {
    font-family: "futura", sans-serif;
    margin: 60px auto;
}
.listcalendar  {
    margin-bottom: 30px;
}
.titleCalendar {
    font-weight: bold;
    font-size: 26px;
}
.dayWeek {
    text-align: center;
    height: 100px;
}
td {
    height: 100px;
}

.calendarAll {
    height: 100px;
}

.dayWeek:nth-of-type(6), .todayCalendar:nth-of-type(6) {
    color: blue;
}
.dayWeek:nth-of-type(7), .todayCalendar:nth-of-type(7) {
    color: red;
}
.calendarToday {
    background-color: ghostwhite;
}
