#calendar {
  margin-bottom: 7%;
  width: 80%;
  float: right !important;

  @media (max-width: $small) {
    margin-top: 20%;
  }

  @media (max-width: $medium) {
    width: 110%;
  }
}

.calendarRow {
  margin-top: 5%;
}

.customCalendar {
  width: 100%;
  height: auto;
}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.fc .fc-button-group>* {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.fc-widget-header {
  padding-top: none !important;
  padding-bottom: 5px !important;
  font-weight: 500;
  color: $deselectedItem;
  border-bottom: 5px solid red !important;
}

.fc-toolbar {
  margin-bottom: 3% !important;
}

.fc .fc-row {
  border-bottom: 5px solid red !important;
}

.fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed hr, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
  border: none !important;
}

.fc-toolbar h2 {
  font-family: $titleFont;
  font-weight: 500;
  margin-top: 7px !important;
  font-size: 18px !important;
  color: $black !important;
}

.fc-toolbar {
  padding-bottom: 2% !important;
  border-bottom: 1px solid lightGrey;
}

.fc-basic-view td.fc-day-number {
  text-align: center !important;
  font-weight: bold;
}

.fc-unthemed .fc-today {
  background-color: transparent !important;
  color: $redArbel !important;
}

.calendarSection {
  background-color: $white;
  box-shadow: 0px 1px 9px #e6e4e4 !important;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
