body {
  background-color: $body-bg !important;
}

.allContainer{
  margin-top: -10% !important;
  margin-left: 6% !important;
  align-items: center;
  align-content: center;
  position: absolute;
  margin: 0 auto;

}

.sendContainer{
  background-color: $white;
  padding-top: 2%;
  padding-left: 2% !important;
  padding-bottom: 2%;
  border-radius: 10px !important;
  bottom: 0 !important;
  box-shadow: 0px 1px 4px darkGrey !important;
  z-index: 10 !important;
}

.newColorBg{
  background-color: $redArbel;
  z-index: -1 !important;
  margin-top: 12%;
  margin-bottom: -15% !important;
  width: 100%;
  height: 60%;

}


.sendButton {
  font-family: $titleFont;
  background-color: $redArbel !important;
  font-weight: bold !important;
  color: $white !important;
  border: none !important;
  border-radius: 25px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  margin-top: 5%;
  &:hover {
    transition: all 0.3s;
    background-color: $redSelected !important;
    color: $white !important;
  }
}

.firstPart{
  position: relative;
  float: left;
  width: 44%;
  margin: 0;
  padding: 0;
  border-right: 1px solid lightGrey;
  height:400px;
}

.prova1{
  margin-top: 5%;
  margin-bottom: 10%;
}

.contactTitle{
  margin-left: -1% !important;
  padding-top: 5%;
}

.coursesList{
  padding-top: 8%;
  padding-left: 3% !important;
}
