.allCourses {
  margin-bottom: 8%;
  margin-left: 9%;
}

// .mediaContainer, .videoContainer, .soundContainer, .photoContainer, .comunicationContainer, .graphicContainer {
//   padding-top: 6%;
//   padding-left: 2% !important;
//   padding-bottom: 2%;
//   margin-top: 15% !important;
//   margin-bottom: 15%;
//   margin-left: none !important;
//   border-radius: 5px !important;
//   bottom: 0 !important;
//   box-shadow: 0px 1px 20px #efefef !important;
//   background-color: $white;
//   height: 350px;
//   width: 240px !important;
//   color: #343434 !important;
//   transition: all .2s ease-in-out;
//   &:hover {
//     transition: all 0.2s !important;
//     background-color: $redArbel !important;
//     transform: scale(1.06);
//     color: $white !important;
//   }
// }

.provaContainer {
  padding-top: 6%;
  margin-left: 2% !important;
  padding-bottom: none !important;
  padding-left: 1% !important;
  color: #343434 !important;
  transition: all .2s ease-in-out;
  margin-top: 15% !important;
  margin-bottom: 5% !important;
  border-radius: 10px !important;
  bottom: 0 !important;
  box-shadow: 0px 1px 17px #edecec !important;
  background-color: $white;
  height: 220px;
  min-height: 220px !important;
  width: 230px !important;
  &:hover {
    transition: all 0.2s !important;
    transform: scale(1.05);
  }
}

.sectionText {
  padding-left: 7%;
  font-size: 18px;
  font-weight: bold;
}

.sectionTextp {
  margin-top: 30%;
  padding-left: 7%;
  font-size: 18px;
  color: $redArbel;
  font-family: $titleFont;
}

.descriptionText {
  padding-left: 7%;
  font-size: 14px;
  padding-top: 10%;
  opacity: 0.5 !important;
}

.yearText {
  padding-right: 15% !important;
  padding-left: 7% !important;
  font-size: 22px;
  margin-top: 29% !important;
  font-family: $titleFont;
}

.horizontalLine {
  margin-left: 7% !important;
  width: 100% !important;
}

.mediaImage {
  width: 85%;
  margin-left:7% !important;
}

.card {
  display: flex !important;
  background: none !important;
  border: none !important;
  overflow-x: auto;
}

.card::-webkit-scrollbar {
  display: none;
}

// .mediaContainer {
//   // background: linear-gradient(to right, $redArbel 0%, #EF2252 100%) !important;
//   background-image: url("/img/mediaCard.svg");
// }
a:hover {
  text-decoration: none !important;
}

.coursesTitle{
  font-family: $titleFont !important;
  margin-left: none !important;
  font-size: 16px !important;
  padding-top: 5%;
}

.nextButton {
  position: absolute;
  right: 0 !important;
  margin-right: 5%;
  margin-top: 12%;
}

.card-block {
    min-height: 220px;
    display: inline-block;
}

.idk::-webkit-scrollbar {
  display: none !important;
}

.idk {
  overflow-x: scroll;
  overflow-y: hidden;
  // white-space: nowrap;
}

#spero {
  margin-right: -6.5% !important;
  padding-right: none !important;
}

.yearNumber {
  font-family: $titleFont;
  font-size: 12px !important;
  text-align: center !important;
  color: $redArbel;
  &:hover {
    font-size: 18px;
  }
}

.circle {
  background-color: #f9f9f9;
  width: 16% !important;
  float: right;
  padding: 5px !important;
  margin-right: -14% !important;
  margin-top: -3% !important;
  border-radius: 50% !important;
}

.badgeSection{
  font-size: 2px !important;

}

.rowSelectTitile{
  margin-top: -17.5% !important;
  margin-bottom: 5%;
}


.defaultCourses{
  color: $deselectedItem !important;
  margin-top: 15%;
  // width: 50% !important;
}
