.imageSubmitButton {
  font-family: $titleFont !important;
  background-color: white !important;
  margin-top: 10% !important;
  color: $deselectedItem !important;
  border-radius: 25px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  font-weight: bold !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: $deselectedItem !important;
  &:hover {
    transition: all 0.5s !important;
    background-color: $redArbel !important;
    color: white !important;
    border-radius: 25px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: $redArbel !important;
  }
}
