body {
  background-color: $body-bg !important;
}

#registerButton {
  font-family: $titleFont;
  background-color: white;
  margin-top: 10%;
  color: $deselectedItem;
  border-radius: 25px;
  padding-left: 30px;
  padding-right: 30px;
  // font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-color: $deselectedItem;
  &:hover {
    transition: all 0.5s;
    background-color: $redArbel;
    color: white;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: $redArbel;
  }
}

.container {
  max-width: 85% !important;
}

.registerContainer {
  margin-top: 5%;
  border-radius: 20px !important;
  border-width: 0px !important;
  box-shadow: 0px 1px 4px lightGrey;
  padding: 5% !important;
}

.containerAllUser {
  background-color: $white;
  margin: auto !important;
  margin-top: 0.4% !important;
  border-radius: 5px !important;
  border-width: 0px !important;
  box-shadow: 0px 1px 3px lightGrey;
  padding-top: 2% !important;
}

.titleUsers {
  font-family: $titleFont;
  margin-top: 2%;
  padding-bottom: 1%;
  // font-weight: bold;
  font-size: 16px ;
  color: $title;
}

.user {
  color: $title !important;
}

#deleteUser, #editUser {
  margin-top: -10% !important;
  width: 60px !important;
  padding: 7px !important;
}

.editBtn{
  background-color: #4A90E2 !important;
  &:hover {
    background: #2D75C9 !important;
  }
}
.trashIcon, .editIcon{
  width: auto !important;
  height: 17px !important;
  &:hover {
    opacity: 0.7s !important;
  }
}
