body {
  background-color: $body-bg !important;
}
#registerButton {
  background-color: white;
  margin-top: 10%;
  color: $deselectedItem;
  border-radius: 25px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-color: $deselectedItem;
}

#registerButton:hover {
  transition: all 0.5s;
  background-color: $redArbel;
  color: white;
  border-radius: 25px;
  padding-left: 30px;
  padding-right: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: $redArbel;
}

.container {
  max-width: 85% !important;
}

.registerContainer{
  margin-top: 5%;
  border-radius: 20px !important;
  border-width: 0px !important;
  box-shadow: 0px 2px 3px lightGrey;
  padding: 5% !important;
}

.containerAllUser{
  // width: 85% !important;
  background-color: $white;
  margin: auto !important;
  margin-top: 0.4% !important;
  border-radius: 5px !important;
  border-width: 0px !important;
  box-shadow: 0px 2px 4px lightGrey;
  padding-top: 2% !important;
  // padding: 5% !important;
}

.titleUsers{
  margin-top: 2%;
  padding-bottom: 1%;
  font-weight: bold;
  font-size: 18px ;
  color: $title;
}


.user{
  color: $title !important;
}

#deleteUser{
  margin-top: -2.3%;
}

.trashIcon{
  width: 40% !important;
}
