body {
  background-color: $body-bg !important;
}

#registerButton {
  font-family: $titleFont;
  background-color: white;
  margin-top: 10%;
  color: $deselectedItem;
  border-radius: 25px;
  padding-left: 30px;
  padding-right: 30px;
  // font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-color: $deselectedItem;
  &:hover {
    transition: all 0.5s;
    background-color: $redArbel;
    color: white;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: $redArbel;
  }
}

.container {
  max-width: 85% !important;
}

.registerContainer {
  margin-top: 5%;
  border-radius: 15px !important;
  border-width: 0px !important;
  background-color: $white !important;
  box-shadow: 0px 1px 4px lightGrey;
  padding: 5% !important;
}

.containerAllUser {
  background-color: $white;
  margin: auto !important;
  margin-top: 0.4% !important;
  border-radius: 5px !important;
  border-width: 0px !important;
  box-shadow: 0px 1px 3px lightGrey;
  padding-top: 2% !important;
}

.titleUsers {
  font-family: $titleFont;
  margin-top: 2%;
  padding-bottom: 1%;
  // font-weight: bold;
  font-size: 16px ;
  color: $title;
}

.user {
  color: $title !important;
}

#deleteUser, #editUser {
  margin-top: -10% !important;
  width: 60px !important;
  padding: 7px !important;
}

.editBtn{
  background-color: #4A90E2 !important;
  &:hover {
    background: #2D75C9 !important;
  }
}
.trashIcon, .editIcon{
  width: auto !important;
  height: 17px !important;
  &:hover {
    opacity: 0.7s !important;
  }
}

#loader{
visibility:hidden;
}

.editContainer{
  // margin-top: 5%;
  background-color: $white;
  padding-top: 2%;
  padding-left: 5% !important;
  padding-right: 5%;
  padding-bottom: 4%;
  border-radius: 10px !important;
  bottom: 0 !important;
  box-shadow: 0px 1px 4px lightGrey;
  z-index: 10 !important;
}

.nameTeacher{
  font-family: $titleFont;
  font-size: 16px;
  margin-top: 2%;
  padding-bottom: 1%;
  text-transform: uppercase;
}

.titleDrop{
  font-family: $titleFont;
  color: lightGrey;
  font-size: 14px;
  // font-weight: bold;
  margin-top: 2%;
  margin-bottom: 10%;

}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 300px !important;
  margin-bottom: 3% !important;
  // margin: 10px; /* demo only */
}

.custom-dropdown select {
  background-color: #f5f5f5;
  color: $black;
  padding-left: 5% !important;
  width: 300px !important;
  font-size: inherit;
  padding: 3%;
  padding-right: 2%;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,1);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.07);
}

.custom-dropdown::after {
  color: rgba(0,0,0,0.5);
}


.placeholder{
  color: $redArbel !important;
}

.teacherDate {
    margin-top: -2% !important;
    margin-bottom: -2% !important;
    padding: none !important;
}



/* Custom dropdown */
.custom-dropdownRegister {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 347px !important;
  margin-bottom: 0.5% !important;
  // margin: 10px; /* demo only */
}

.custom-dropdownRegister select {
  background-color: #f5f5f5;
  color: $black;
  padding-left: 5% !important;
  width: 347px !important;
  font-size: inherit;
  padding: 3%;
  padding-right: 2%;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdownRegister::before,
.custom-dropdownRegister::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdownRegister::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdownRegister::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdownRegister select[disabled] {
  color: rgba(0,0,0,1);
}

.custom-dropdownRegister select[disabled]::after {
  color: rgba(0,0,0,1);
}

.custom-dropdownRegister::before {
  background-color: rgba(0,0,0,.07);
}

.custom-dropdownRegister::after {
  color: rgba(0,0,0,0.5);
}
