#blankCheckbox {
  @media (max-width: $medium) {
    margin-left: 10%;
  }
}

.argomentoBox {
  transition: all .3s ease-in-out;
  font-family: $titleFont;
  font-size: 14px;
  color: $black !important;
  font-weight: normal !important;
  border: 0.7px solid #ECEAEA;
  border-radius: 6px !important;
  background-color: $white !important;
  &:hover {
    transition: all 0.2s !important;
    transform: scale(1.07);
    background-color: $redArbel;
  }
}

.nav-pills .nav-link.active {
  transition: all 0.2s !important;
  transform: scale(1.07);
  background: linear-gradient(to right, $redArbel 0%, #EF2252 100%) !important;
  color: $white !important;
}

.list-group-item.active {
  transition: all 0.2s !important;
  transform: scale(1.07);
  background: linear-gradient(to right, $redArbel 0%, #EF2252 100%) !important;
  color: $white !important;
}


.linkStudent {
  font-size: 14px !important;
  font-weight: normal !important;
}


.studentContainer {
  margin: auto !important;
  margin-top: 0.4% !important;
  border-radius: 5px !important;
  border-width: 0px !important;
  box-shadow: 0px 1px 3px lightGrey !important;
  padding-top: 1.3%;
  padding-bottom: 1.3%;
  margin-bottom: 1% !important;
  font-family: $titleFont;
  font-weight: 500;
  color: $deselectedItem;

}

.classContainer {
  transition: all .3s ease-in-out;
  margin: auto !important;
  box-shadow: 0px 1px 0px lightGrey !important;
  padding-top: 1.7%;
  padding-bottom: 1.5%;
  &:hover {
    transition: all 0.2s !important;
    background-color: rgba(2,117,216,0.1);
  }

  @media (max-width: $small) {
    margin-top: 5% !important;
    margin-bottom: 5% !important;
  }
}

.studentTitle {
  @include title;
  margin-top: 4%;
}

.studentSubmitButton {
  font-family: $titleFont;
  margin-top: 5%;
  background-color: $redArbel !important;
  color: $white !important;
  border: none !important;
  border-radius: 25px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
  &:hover {
    background-color: $redSelected !important;
    color: $white !important;
  }
}

.studentBox,.testBox, .activityBox {
  transition: all .3s ease-in-out;
  font-family: $titleFont;
  font-size: 14px;
  font-weight: 500 !important;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  height: 40px;
  width: 140px;
  border: 0.7px solid #ECEAEA;
  border-radius: 6px !important;
  bottom: 0 !important;
  box-shadow: 0px 1px 5px #ECEAEA !important;
  color: $white;
  &:hover {
    transition: all 0.2s !important;
    transform: scale(1.07);
    color: $redArbel;
  }

  @media (max-width: $small) {
    width: 80px !important;
    margin-bottom: -5%;
  }
}

.nav-pills .nav-link.active {
  transition: all 0.2s !important;
  transform: scale(1.07);
  background: linear-gradient(to right, $redArbel 0%, #EF2252 100%) !important;
  color: $white !important;
}

.linkStudent {
  font-size: 14px !important;
  font-weight: normal !important;
}

.moreIcon {
  opacity: 0.5 !important;
  width: auto;
  height: 15px;
  margin-top: 4% !important;
  vertical-align: middle !important;
}

.exportBtn {
  float: right !important;
  border-radius: 25px !important;
  padding-left: 4% !important;
  padding-right: 4% !important;
  &:hover {
    transition: all 0.4s !important;
    background-color: rgba(2,117,216,0.2) !important;
    color: #4B74FF !important;
  }
}

.searchBtn {
  transition: all .3s ease-in-out;
  border-radius: 25px !important;
  border: 1px solid #4B74FF !important;
  width: 120px;
  height: 35px;
  background-image: url('/img/searchIcon.svg');
  background-position: 14px 8px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  &::placeholder {
    color: #4B74FF !important;
    opacity: 1;
  }
  &:hover {
    transition: all 0.4s !important;
    background-color: rgba(2,117,216,0.2) !important;
  }
  &:focus {
    width: 300px !important;
  }

  @media (max-width: $small) {
    margin-bottom: 8%;
  }
}

.toolBar {
  margin-bottom: 3%;
  margin-top: 1%;
}

.optionTab {
  margin-right: 1.5% !important;
}

.colSearch {
  margin: none !important;
  padding: none !important;
}

.moreIcon {
  opacity: 0.5;
}

#bo {
  padding-left: 3% !important;
}

.modal-body {
  padding-top: 5% !important;
}

#student-just {
  padding-bottom: 4%;
}

.colExport {
  @media (max-width: $small) {
    display: none !important;
  }
}

.colNote {
  @media (max-width: $small) {
    display: none !important;
  }
}

.colA {
  @media (max-width: $small) {
    margin: 0 !important;
    margin-left: 3% !important;
    width: 50px !important;
    float: left !important;
  }

  @media (max-width: $medium) {
    margin: 0;
    margin-left: 3%;
    width: 50px;
    float: left;
  }
}

.colName {
  @media (max-width: $small) {
    margin: 0 !important;
    width: 150px !important;
  }
}

.colMark {
  @media (max-width: $small) {
    display: none !important;
  }
}
.colAbsence {
  @media (max-width: $small) {
    margin: 0 !important;
    margin-left: -5% !important;
    width: 85px !important;
  }
}

.colMore {
  @media (max-width: $small) {
    margin: none !important;
    padding: 0 !important;
    width: 5px !important;
  }
}
