.studentSubmitButton {
  font-family: $titleFont;
  // background-color: $redArbel !important;
  background-color: $redArbel !important;
  color: $white !important;
  border: none !important;
  border-radius: 25px !important;
  
  &:hover {
    background-color: $redSelected !important;
    color: $white !important;
  }
}


.studentBox {
  transition: all .3s ease-in-out;
  font-family: $titleFont;
  font-size: 16px;
  margin-top: -1% !important;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  height: 42px;
  width: 142px;
  margin-left: 3% !important;
  border-radius: 7px !important;
  bottom: 0 !important;
  box-shadow: 0px 1px 7px lightGrey !important;
  background: linear-gradient(to right, $redArbel 0%, #EF2252 100%) !important;
  color: $white;
  &:hover {
    transition: all 0.2s !important;
    transform: scale(1.02);
    // background-color: $redArbel;
  }
}

.testBox, .activityBox {
  transition: all .3s ease-in-out;
  font-family: $titleFont;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  height: 40px;
  width: 140px;
  border: 0.7px solid #ECEAEA;
  border-radius: 6px !important;
  bottom: 0 !important;
  box-shadow: 0px 1px 5px #ECEAEA !important;
  background-color: $white;
  &:hover {
    transition: all 0.2s !important;
    transform: scale(1.07);
    // background-color: $redArbel;
    color: $redArbel;

  }
}

.linkStudent {
  font-size: 14px !important;
  font-weight: normal !important;
}
