#rowValutation {
margin-bottom: 5%;
}

.colValutation {
  width: 100% !important;
}
.containernote{
  transition: all .3s ease-in-out;
  margin: auto !important;
  box-shadow: 0px 1px 0px lightGrey !important;
  padding-top: 1.7%;
  padding-bottom: 1.5%;
  &:hover{
    transition: all 0.2s !important;
    background-color: rgba(2,117,216,0.1);

  }
}
.imgstudent{
  width:170px;
  height:170px;
  float:left;
  border-radius:50%;
  margin-left:25px;
  margin-bottom:25px;
}

.detailTitle{
  @include title;
  margin-top: 6%;
}


.studentprofile{
  background-color: $white;
  margin-top: 3% !important;
  padding-top: 4%;
  padding-left: 2% !important;
  padding-bottom: 4% !important;
  margin-bottom: 4%;
  border-radius: 10px !important;
  bottom: 0 !important;
  box-shadow: 0px 1px 4px lightGrey !important;
  z-index: 10 !important;
}
.studentBox{
  transition: all .3s ease-in-out;
  font-family: $titleFont;
  font-size: 14px;
  font-weight: normal !important;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  height: 40px;
  width: 140px;
  border: 0.7px solid #ECEAEA;
  border-radius: 6px !important;
  bottom: 0 !important;
  box-shadow: 0px 1px 5px #ECEAEA !important;
  color: $white;
  &:hover {
    transition: all 0.2s !important;
    transform: scale(1.07);
    // background-color: $redArbel;
    color: $redArbel;

  }
}

.activeNote{
  margin-top: 5%;
  margin-bottom: 6%;
}

.infoText{
  color: $deselectedItem;
}

.colType{
  margin-left: -10%;
}
